<tr>
  <td><%= post.title %></td>
  <td><%= post.content %></td>
  <td><%= link_to 'Show', posts_path(post_id: post.id, right_container_action: 'show'), data: {push: 'partial', target: '#right-container'} %></td>
  <td><%= link_to 'Edit', posts_path(post_id: post.id, right_container_action: 'edit'), data: {push: 'partial', target: '#right-container'} %></td>
  <td><%= link_to 'Destroy', post, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
</tr>