<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "RailsWithSync" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag Sync.adapter_javascript_url %>
    <script>
      $(function(){
        window.wiselinks = new Wiselinks('<%= @target %>');
        $(document).off('page:loading').on('page:loading', function(event, $target, render, url) {
          console.log("Loading: " + url + " to " + $target.selector + " within " + render);
        })
      });
    </script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='row full-width'>
      <div class='large-10 large-centered columns'>
        <%= render 'layouts/flash.html' %>
        <%= yield %>
      </div>
    </div>
  </body>
  <div class="se-pre-con"></div>
</html>